/* .hello{
    color: aqua;
}

.html{
    color: brown;
    font-size: 50px;
} */

@media (max-width:768px){
    .hello{
        color: blue;
    }

    .html{
        font-size: 30px;
    }
}

.wrap{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    color: azure;
    padding: 20px;
}
@media (max-width:768px){
    
    .wrap{
        flex-direction: column;
        width: 100px;
        height: 100vh4;
    }
}


